In [3]:
import pandas as pd
import numpy as np
import tushare as ts
import pymysql

In [4]:
connect = pymysql.connect('localhost','Display','123123','a_stocks')

In [5]:
import MYDB

In [6]:
MYDB.update_hs300(connect)
#抓取沪深300成分股的数据并存入数据库

http://www.csindex.com.cn/uploads/file/autofile/closeweight/000300closeweight.xls
Update Stock 600000
Update Stock 600008
Update Stock 600009
Update Stock 600010
Update Stock 600011
Update Stock 600015
Update Stock 600016
Update Stock 600018
Update Stock 600019
Update Stock 600021
Update Stock 600023
Update Stock 600028
Update Stock 600029
Update Stock 600030
Update Stock 600031
Update Stock 600036
Update Stock 600038
Update Stock 600048
Update Stock 600050
Update Stock 600061
Update Stock 600066
Update Stock 600068
Update Stock 600074
Update Stock 600085
Update Stock 600089
Update Stock 600100
Update Stock 600104
Update Stock 600109
Update Stock 600111
Update Stock 600115
Update Stock 600118
Update Stock 600153
Update Stock 600157
Update Stock 600170
Update Stock 600177
Update Stock 600188
Update Stock 600196
Update Stock 600208
Update Stock 600219
Update Stock 600221
Update Stock 600233
Update Stock 600271
Update Stock 600276
Update Stock 600297
Update Stock 600309
Update Stock 600332
Update Stock 600340
Update Stock 600352
Update Stock 600362
Update Stock 600369
Update Stock 600372
Update Stock 600373
Update Stock 600376
Update Stock 600383
Update Stock 600390
Update Stock 600406
Update Stock 600415
Update Stock 600436
Update Stock 600482
Update Stock 600485
Update Stock 600489
Update Stock 600498
Update Stock 600518
Update Stock 600519
Update Stock 600522
Update Stock 600535
Update Stock 600547
Update Stock 600549
Update Stock 600570
Update Stock 600583
Update Stock 600585
Update Stock 600588
Update Stock 600606
Update Stock 600637
Update Stock 600649
Update Stock 600660
Update Stock 600663
Update Stock 600674
Update Stock 600682
Update Stock 600685
Update Stock 600688
Update Stock 600690
Update Stock 600703
Update Stock 600704
Update Stock 600705
Update Stock 600739
Update Stock 600741
Update Stock 600795
Update Stock 600804
Update Stock 600816
Update Stock 600820
Update Stock 600827
Update Stock 600837
Update Stock 600871
Update Stock 600886
Update Stock 600887
Update Stock 600893
Update Stock 600895
Update Stock 600900
Update Stock 600909
Update Stock 600919
Update Stock 600926
Update Stock 600958
Update Stock 600959
Update Stock 600977
Update Stock 600999
Update Stock 601006
Update Stock 601009
Update Stock 601012
Update Stock 601018
Update Stock 601021
Update Stock 601088
Update Stock 601099
Update Stock 601111
Update Stock 601117
Update Stock 601118
Update Stock 601155
Update Stock 601163
Update Stock 601166
Update Stock 601169
Update Stock 601186
Update Stock 601198
Update Stock 601211
Update Stock 601212
Update Stock 601216
Update Stock 601225
Update Stock 601228
Update Stock 601229
Update Stock 601288
Update Stock 601318
Update Stock 601328
Update Stock 601333
Update Stock 601336
Update Stock 601375
Update Stock 601377
Update Stock 601390
Update Stock 601398
Update Stock 601555
Update Stock 601600
Update Stock 601601
Update Stock 601607
Update Stock 601608
Update Stock 601611
Update Stock 601618
Update Stock 601628
Update Stock 601633
Update Stock 601668
Update Stock 601669
Update Stock 601688
Update Stock 601718
Update Stock 601727
Update Stock 601766
Update Stock 601788
Update Stock 601800
Update Stock 601818
Update Stock 601857
Update Stock 601866
Update Stock 601872
Update Stock 601877
Update Stock 601878
Update Stock 601881
Update Stock 601888
Update Stock 601898
Update Stock 601899
Update Stock 601901
Update Stock 601919
Update Stock 601933
Update Stock 601939
Update Stock 601958
Update Stock 601966
Can not get the data of601966
Update Stock 601985
Can not get the data of601985
Update Stock 601988
Can not get the data of601988
Update Stock 601989
Can not get the data of601989
Update Stock 601991
Can not get the data of601991
Update Stock 601992
Can not get the data of601992
Update Stock 601997
Can not get the data of601997
Update Stock 601998
Can not get the data of601998
Update Stock 603160
Can not get the data of603160
Update Stock 603799
Can not get the data of603799
Update Stock 603833
Can not get the data of603833
Update Stock 603858
Can not get the data of603858
Update Stock 603993
Can not get the data of603993
Update Stock 000001
Update Stock 000002
Update Stock 000008
Update Stock 000060
Update Stock 000063
Update Stock 000069
Update Stock 000100
Update Stock 000157
Update Stock 000166
Update Stock 000333
Update Stock 000338
Update Stock 000402
Update Stock 000413
Update Stock 000415
Update Stock 000423
Update Stock 000425
Update Stock 000503
Update Stock 000538
Update Stock 000540
Update Stock 000559
Update Stock 000568
Update Stock 000623
Update Stock 000625
Update Stock 000627
Update Stock 000630
Update Stock 000651
Update Stock 000671
Update Stock 000686
Update Stock 000709
Update Stock 000723
Update Stock 000725
Update Stock 000728
Update Stock 000738
Update Stock 000750
Update Stock 000768
Update Stock 000776
Update Stock 000783
Update Stock 000792
Update Stock 000826
Update Stock 000839
Update Stock 000858
Update Stock 000876
Update Stock 000895
Update Stock 000898
Update Stock 000938
Update Stock 000959
Update Stock 000961
Update Stock 000963
Update Stock 000983
Update Stock 001979
Update Stock 002007
Update Stock 002008
Update Stock 002024
Update Stock 002027
Update Stock 002044
Update Stock 002065
Update Stock 002074
Update Stock 002081
Update Stock 002142
Update Stock 002146
Update Stock 002153
Update Stock 002174
Update Stock 002202
Update Stock 002230
Update Stock 002236
Update Stock 002241
Update Stock 002252
Update Stock 002292
Update Stock 002294
Update Stock 002304
Update Stock 002310
Update Stock 002352
Update Stock 002385
Update Stock 002411
Update Stock 002415
Update Stock 002424
Update Stock 002426
Update Stock 002450
Update Stock 002456
Update Stock 002460
Update Stock 002465
Update Stock 002466
Update Stock 002468
Update Stock 002470
Update Stock 002475
Update Stock 002500
Update Stock 002508
Update Stock 002555
Update Stock 002558
Update Stock 002572
Update Stock 002594
Update Stock 002601
Update Stock 002602
Update Stock 002608
Update Stock 002624
Update Stock 002673
Update Stock 002714
Update Stock 002736
Update Stock 002739
Update Stock 002797
Update Stock 002831
Update Stock 002839
Update Stock 002841
Update Stock 300003
Update Stock 300015
Update Stock 300017
Update Stock 300024
Update Stock 300027
Update Stock 300033
Update Stock 300059
Update Stock 300070
Update Stock 300072
Update Stock 300122
Update Stock 300124
Update Stock 300136
Update Stock 300144
Update Stock 300251
Update Stock 300315

In [7]:
prices_data = MYDB.df_of_stock(connect,'300315')
prices_data
#读取数据库中某支股票的数据

            open  high close   low       volume
0
2018-04-10   6.3  6.31  6.07  5.99       915108
2018-04-09  6.36  6.47  6.38  6.31       400654
2018-04-04  6.58   6.6  6.38  6.38       555485
2018-04-03  6.68  6.73  6.54  6.44       737449
2018-04-02  6.92  6.97  6.81  6.78       805370
2018-03-30  6.73  6.94  6.93  6.69  1.16972e+06
2018-03-29   6.7  6.86  6.67  6.58       726926
2018-03-28  6.61  6.84  6.72   6.6       754323
2018-03-27  6.46  6.92  6.76  6.42       919139
2018-03-26  6.24  6.42  6.41  6.11       410482
2018-03-23  6.47  6.64   6.3  6.21       784180
2018-03-22  6.47  6.73  6.69   6.3       775978
2018-03-21   6.5  6.63  6.44  6.36       445535
2018-03-20  6.35  6.43  6.43  6.26       471303
2018-03-19   6.5   6.6  6.46   6.4       429349
2018-03-16  6.61  6.66  6.49  6.48       356732
2018-03-15  6.58  6.67  6.61  6.46       485090
2018-03-14  6.72   6.8  6.63  6.59       540456
2018-03-13  6.81  6.95  6.81  6.72       830076
2018-03-12  6.84  6.89  6.82  6.76       821698
2018-03-09  6.51  6.86  6.79   6.5  1.12662e+06
2018-03-08  6.48  6.59  6.51  6.47       297538
2018-03-07  6.61  6.63   6.5   6.5       373029
2018-03-06  6.71  6.73  6.66  6.54       588377
2018-03-05  6.58  6.73  6.72  6.47       552681
2018-03-02  6.68  6.79  6.53  6.52       605577
2018-03-01   6.5  6.77  6.76  6.46       727230
2018-02-28  6.47  6.84  6.55  6.41       800950
2018-02-27   6.4  6.64  6.55  6.37       828447
2018-02-26  6.14   6.4   6.4  6.09       567892
...          ...   ...   ...   ...          ...
2018-02-12   6.5  6.61  6.49  6.36       568528
2018-02-09  6.25  6.58  6.41  6.21  1.00409e+06
2018-02-08  6.22  6.53  6.46  6.19       884437
2018-02-07  6.16  6.34  6.21   5.9       821798
2018-02-06   6.1  6.35  6.01     6       601476
2018-02-05     6  6.26  6.21  5.97       431765
2018-02-02  6.11  6.24  6.13  5.96       555574
2018-02-01  6.17  6.31  6.01  5.96       601826
2018-01-31  6.15  6.32  6.06  6.06       652737
2018-01-30  6.64  6.76  6.49  6.46       478187
2018-01-29   6.6   6.9   6.7  6.57       665622
2018-01-26  6.49  6.75  6.66  6.42       750457
2018-01-25  6.51  6.94  6.47  6.45  1.23193e+06
2018-01-24  6.14  6.68  6.59  6.12  1.21697e+06
2018-01-23  6.07  6.19  6.18  6.03       388459
2018-01-22  5.87  6.12  6.11  5.74       535301
2018-01-19  5.94     6  5.87  5.86       216617
2018-01-18  5.94  6.09  5.92  5.92       257056
2018-01-17  5.76  6.03  5.98  5.66       462871
2018-01-16  5.84  5.97  5.86  5.83       240564
2018-01-15  5.99  6.05  5.84  5.82       533893
2018-01-12  6.15  6.46  6.11   6.1       866396
2018-01-11  5.87  6.14  6.08  5.84       630910
2018-01-10  5.89  5.95  5.84  5.81       306164
2018-01-09  5.72  6.07  5.94  5.68       628066
2018-01-08  5.73  5.77  5.76  5.63       345132
2018-01-05  5.69  5.76  5.73  5.67       238294
2018-01-04  5.72  5.74  5.71  5.65       225203
2018-01-03  5.62  5.73  5.69  5.59       236511
2018-01-02  5.56  5.65  5.62  5.55       192402

[64 rows x 5 columns]

In [8]:
import myfun01

In [10]:
#Average true range
Atr = myfun01.get_atr(high=prices_data.high,low=prices_data.low,close=prices_data.close,index=prices_data.index)
Atr

0
2018-04-10    0.304000
2018-04-09    0.282000
2018-04-04    0.286000
2018-04-03    0.328000
2018-04-02    0.356000
2018-03-30    0.392000
2018-03-29    0.432000
2018-03-28    0.442000
2018-03-27    0.382000
2018-03-26    0.320000
2018-03-23    0.270000
2018-03-22    0.216000
2018-03-21    0.200000
2018-03-20    0.206000
2018-03-19    0.192000
2018-03-16    0.228000
2018-03-15    0.256000
2018-03-14    0.240000
2018-03-13    0.232000
2018-03-12    0.258000
2018-03-09    0.240000
2018-03-08    0.232000
2018-03-07    0.292000
2018-03-06    0.312000
2018-03-05    0.322000
2018-03-02    0.322000
2018-03-01    0.302000
2018-02-28    0.294000
2018-02-27    0.296000
2018-02-26    0.284000
                ...
2018-02-13    0.350000
2018-02-12    0.358000
2018-02-09    0.340000
2018-02-08    0.342000
2018-02-07    0.306000
2018-02-06    0.322000
2018-02-05    0.330000
2018-02-02    0.340000
2018-02-01    0.368000
2018-01-31    0.428000
2018-01-30    0.442000
2018-01-29    0.452000
2018-01-26    0.436000
2018-01-25    0.372000
2018-01-24    0.334000
2018-01-23    0.274000
2018-01-22    0.244000
2018-01-19    0.266000
2018-01-18    0.308000
2018-01-17    0.294000
2018-01-16    0.332000
2018-01-15    0.348000
2018-01-12    0.296000
2018-01-11    0.238000
2018-01-10    0.206000
2018-01-09    0.150000
2018-01-08    0.110000
2018-01-05    0.113333
2018-01-04    0.125000
2018-01-03    0.110000
Length: 63, dtype: float64

In [18]:
#Chandelier Exit
CE_L,CE_S = myfun01.get_CE(high=prices_data.high,low=prices_data.low,close=prices_data.close,index=prices_data.index)
CE = pd.concat([CE_L,CE_S],axis=1)
CE.columns = ['CE_long','CE_short']
CE

            CE_long  CE_short
0
2018-04-10    6.058     6.902
2018-04-09    6.124     6.956
2018-04-04    6.112     6.968
2018-04-03    5.986     7.094
2018-04-02    5.902     7.178
2018-03-30    5.774     7.286
2018-03-29    5.654     7.406
2018-03-28    5.624     7.436
2018-03-27    5.804     7.236
2018-03-26    5.990     7.030
2018-03-23    6.140     6.880
2018-03-22    6.302     6.718
2018-03-21    6.350     6.670
2018-03-20    6.332     6.688
2018-03-19    6.374     6.646
2018-03-16    6.266     6.754
2018-03-15    6.182     6.668
2018-03-14    6.230     6.620
2018-03-13    6.254     6.596
2018-03-12    6.116     6.674
2018-03-09    6.140     6.620
2018-03-08    6.144     6.596
2018-03-07    5.964     6.776
2018-03-06    5.964     6.836
2018-03-05    5.934     6.866
2018-03-02    5.974     6.866
2018-03-01    6.034     6.806
2018-02-28    6.058     6.782
2018-02-27    6.052     6.628
2018-02-26    6.088     6.592
...             ...       ...
2018-02-13    5.890     6.710
2018-02-12    5.866     6.734
2018-02-09    5.920     6.680
2018-02-08    5.914     6.686
2018-02-07    6.022     6.578
2018-02-06    5.974     6.596
2018-02-05    5.950     6.620
2018-02-02    5.920     6.650
2018-02-01    5.836     6.654
2018-01-31    5.656     6.834
2018-01-30    5.614     6.876
2018-01-29    5.584     6.906
2018-01-26    5.632     6.858
2018-01-25    5.824     6.666
2018-01-24    5.678     6.552
2018-01-23    5.638     6.372
2018-01-22    5.728     6.282
2018-01-19    5.662     6.348
2018-01-18    5.536     6.474
2018-01-17    5.578     6.432
2018-01-16    5.464     6.546
2018-01-15    5.416     6.594
2018-01-12    5.572     6.438
2018-01-11    5.426     6.264
2018-01-10    5.452     6.168
2018-01-09    5.620     6.000
2018-01-08    5.440     5.880
2018-01-05    5.420     5.890
2018-01-04    5.365     5.925
2018-01-03    5.400     5.880

[63 rows x 2 columns]

In [20]:
#Boll
up_band,mid_band,low_band = myfun01.get_boll(prices=prices_data.close,dates=prices_data.index)
Boll = pd.concat([up_band,mid_band,low_band],axis=1)
Boll.columns = ['up_band','mid_band','low_band']
Boll

             up_band  mid_band  low_band
0
2018-04-10  6.998012    6.5675  6.136988
2018-04-09  7.004803    6.6035  6.202197
2018-04-04  7.001646    6.6100  6.218354
2018-04-03  6.997880    6.6160  6.234120
2018-04-02  7.026082    6.6220  6.217918
2018-03-30  7.046585    6.6175  6.188415
2018-03-29  7.011493    6.5975  6.183507
2018-03-28  7.053256    6.6020  6.150744
2018-03-27  7.051625    6.5935  6.135375
2018-03-26  7.044732    6.5830  6.121268
2018-03-23  7.039073    6.5825  6.125927
2018-03-22  7.019789    6.5740  6.128211
2018-03-21  6.996301    6.5535  6.110699
2018-03-20  6.982845    6.5375  6.092155
2018-03-19  6.983742    6.5365  6.089258
2018-03-16  6.997625    6.5380  6.078375
2018-03-15  7.001884    6.5340  6.066116
2018-03-14  7.008127    6.5265  6.044873
2018-03-13  6.985160    6.5055  6.025840
2018-03-12  6.930035    6.4655  6.000965
2018-03-09  6.872402    6.4350  5.997598
2018-03-08  6.809573    6.4020  5.994427
2018-03-07  6.784164    6.3770  5.969836
2018-03-06  6.758735    6.3550  5.951265
2018-03-05  6.769103    6.3465  5.923897
2018-03-02  6.835062    6.3455  5.855938
2018-03-01  6.918162    6.3520  5.785838
2018-02-28  6.919771    6.3375  5.755229
2018-02-27  6.985115    6.3395  5.693885
2018-02-26  6.972749    6.3210  5.669251
2018-02-23  6.966033    6.3065  5.646967
2018-02-22  6.948334    6.2935  5.638666
2018-02-14  6.931006    6.2755  5.619994
2018-02-13  6.923028    6.2685  5.613972
2018-02-12  6.892562    6.2410  5.589438
2018-02-09  6.850485    6.2085  5.566515
2018-02-08  6.841250    6.1935  5.545750
2018-02-07  6.823714    6.1745  5.525286
2018-02-06  6.806113    6.1560  5.505887
2018-02-05  6.805379    6.1525  5.499621
2018-02-02  6.782888    6.1300  5.477112
2018-02-01  6.763165    6.1100  5.456835
2018-01-31  6.746838    6.0950  5.443162
2018-01-30  6.728338    6.0765  5.424662

In [ ]:
import myfun02